<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.starhome.mapper.FurnitureOrderMapper">

    <select id="selectOrderListWithUser" resultType="com.ruoyi.starhome.domain.vo.FurnitureOrderVO">
        SELECT o.*,
               u.user_name AS userName,
               u.phonenumber
        FROM furniture_order o
        LEFT JOIN sys_user u ON o.user_id = u.user_id
        <where>
            <if test="orderNo != null and orderNo != ''">
                AND o.order_no = #{orderNo}
            </if>
            <if test="userId != null">
                AND o.user_id = #{userId}
            </if>
            <if test="packageId != null">
                AND o.package_id = #{packageId}
            </if>
            <if test="payStatus != null">
                AND o.pay_status = #{payStatus}
            </if>
        </where>
        ORDER BY o.id DESC
    </select>

</mapper>
